*{
  margin: 2px;
}
.nav_bar{
  border-style: solid;
  background-color: cadetblue;
}

.text_line{
  display: flex;
  justify-content: center;
}
.text_field{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.add_btn{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.footer_bar{
  border-style: solid;
  background-color: cadetblue;
  display: flex;
  margin-top: 17%;

}
.enter_text{
  display: flex;
  justify-content: center;
}
.btn btn-secondary{
  display: flex;
flex-direction: column;
justify-content: center;

}